@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,300,700,800);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-weight: 100; }

html,
body {
  font-size: 10pt;
  line-height: 1;
  font-family: 'Open Sans', sans-serif; }

h6 {
  font-size: 11.25pt; }

h5 {
  font-size: 12.65625pt; }

h4 {
  font-size: 14.23828pt; }

h3 {
  font-size: 16.01807pt; }

h2 {
  font-size: 18.02032pt; }

h1 {
  font-size: 20.27287pt; }

.row {
  width: 100%;
  padding-bottom: 0.5in; }
  .row:last-child {
    padding-bottom: 0; }

.col {
  float: left; }
  .col:last-child {
    float: right;
    text-align: right; }

.row:before, .row:after,
.col:before,
.col:after {
  content: '';
  display: table;
  clear: both; }

.one,
.offset-one {
  width: 10%; }

.two,
.offset-two {
  width: 20%; }

.three,
.offset-three {
  width: 30%; }

.four,
.offset-four {
  width: 40%; }

.five,
.offset-five {
  width: 50%; }

.six,
.offset-six {
  width: 60%; }

.seven,
.offset-seven {
  width: 70%; }

.eight,
.offset-eight {
  width: 80%; }

.nine,
.offset-nine {
  width: 90%; }

.ten,
.offset-ten {
  width: 100%; }

@media screen and (max-width: 36rem) {
  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight,
  .nine {
    width: 50%; } }

@media screen and (max-width: 36rem) {
  .offset-one,
  .offset-two,
  .offset-three,
  .offset-four,
  .offset-five,
  .offset-six,
  .offset-seven,
  .offset-eight,
  .offset-nine,
  .offset-ten {
    margin-left: 0; } }

body {
  max-width: 6.5in;
  margin: 0.25in auto; }
  @media (max-width: 41rem) {
    body {
      padding-left: 0.1in;
      padding-right: 0.1in; } }

strong {
  font-weight: bold; }

.col.text-center {
  text-align: center; }

.col.text-left {
  text-align: left; }

.col.text-right {
  text-align: right; }

.header__contact:before, .header__contact:last-child:before, .header__contact:after, .header__contact:last-child:after {
  content: '';
  display: table;
  clear: both; }

.header {
  margin-bottom: 0.4in; }

.header__name {
  font-weight: 800; }

.header__role {
  font-weight: 400;
  line-height: 1.5; }

.header__location {
  font-weight: 400; }

.header__contact {
  font-weight: 600;
  padding-bottom: 0.1in; }
  .header__contact:last-child {
    padding-bottom: none; }

.header__current-event {
  text-align: center; }

.header__link {
  text-decoration: none;
  color: inherit; }

.section__heading {
  font-weight: 600;
  border-bottom: 1px solid black;
  text-transform: uppercase; }

.section__entry {
  position: relative;
  padding-top: 0.05in;
  padding-bottom: 0.05in;
  line-height: 1.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
  .section__entry:last-child {
    margin-bottom: 0.3in;
    border-bottom: none; }
    #work .section__entry:last-child {
      margin-bottom: 0; }
  .section__entry .company-logo {
    position: absolute;
    top: 50%;
    right: 0;
    height: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.section__item--bold {
  font-weight: 600; }

.skill-list {
  list-style-type: none; }

.skill-list__item {
  display: block;
  float: left;
  width: 25%; }
  @media screen and (max-width: 30rem) {
    .skill-list__item {
      width: 33.33333%; } }

.company-logo {
  max-width: 1.5in;
  float: right; }
  @media screen and (max-width: 36rem) {
    .company-logo {
      display: none; } }
  .company-logo[src$='nba.png'] {
    height: 50%; }

.fa.fa-heart {
  font-size: 0.9em; }

.toggle-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none; }
  .toggle-button:focus {
    outline: none; }

.section--filter {
  position: relative;
  top: -3px;
  left: 1rem;
  width: 200px;
  border: 1px solid silver; }

.btn {
  display: block;
  text-decoration: none;
  border-radius: 5px;
  text-align: center; }

.btn--print {
  outline: none;
  background: none;
  padding: 0.1em 1em;
  border: 1px solid #888888;
  border-radius: 1em;
  color: #888888;
  cursor: pointer; }
  .btn--print:active {
    color: white;
    background-color: #888888; }

.btn--github, .btn--remote {
  top: 0.2in;
  right: 0.2in;
  padding: 0.1in;
  font-size: 1.5em;
  color: #333333;
  border: 1px solid #333333;
  transition: all 0.25s ease; }
  @media (max-width: 65rem) {
    .btn--github, .btn--remote {
      position: initial; } }
  .btn--github:hover, .btn--remote:hover {
    background: linear-gradient(#999, #333);
    color: white; }
  .btn--github:active, .btn--remote:active {
    background: linear-gradient(#333, #999);
    color: white;
    transition: all 0 ease; }

.btn--pair-with-me {
  padding: 2px;
  background-color: #0c88b0; }
  .btn--pair-with-me img {
    max-width: 100%; }

.btn--remote {
  top: 1in; }
  @media (max-width: 65rem) {
    .btn--remote {
      margin-bottom: 0.3in; } }

.btn--for-hire {
  padding-left: 0.2in;
  padding-right: 0.2in;
  padding-bottom: 0.2in;
  padding-top: 0.15in;
  color: white;
  line-height: 1.5;
  border: 2px solid transparent;
  transition: all 0.25s ease;
  margin-bottom: 0.2in; }

.btn--for-hire-yep {
  background-color: #3f990f; }
  .btn--for-hire-yep:hover {
    background-color: transparent;
    color: #3f990f;
    border: 2px solid #3f990f; }
  .btn--for-hire-yep:active {
    background-color: #3f990f;
    color: white;
    transition: all 0 ease; }

.btn--for-hire-nope {
  background-color: #9e102e; }
  .btn--for-hire-nope:hover {
    background-color: transparent;
    color: #9e102e;
    border: 2px solid #9e102e; }
  .btn--for-hire-nope:active {
    background-color: #9e102e;
    color: white;
    transition: all 0 ease; }

.btn--for-hire-maybe {
  background-color: #df7a16; }
  .btn--for-hire-maybe:hover {
    background-color: transparent;
    color: #df7a16;
    border: 2px solid #df7a16; }
  .btn--for-hire-maybe:active {
    background-color: #df7a16;
    color: white;
    transition: all 0 ease; }

.availability {
  position: fixed;
  top: 0.2in;
  left: 0.2in;
  width: 3in; }
  @media (max-width: 78rem) {
    .availability {
      position: initial;
      margin-bottom: 0.5in;
      width: 100%; } }

.calendar,
.calendar__bar,
.calendar__label,
.calendar__text {
  width: 100%;
  border-collapse: collapse; }

.calendar table + table {
  margin-top: 0.04in; }

.calendar__label-half--last {
  text-align: right; }

.calendar__month {
  width: 8.33333%;
  text-align: center; }

.calendar__month--bar {
  height: 1rem; }
  .calendar__month--bar:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }
  .calendar__month--bar:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }

.calendar__month--yep {
  background-color: #3f990f; }

.calendar__month--nope {
  background-color: #9e102e; }

.calendar__month--maybe {
  background-color: #df7a16; }

.calendar__month--text {
  cursor: help; }

.calendar__month--text + .calendar__month--text {
  border-left: 1px solid #888888; }

.calendar__month--current {
  position: relative; }
  .calendar__month--current::after {
    content: "\25ce";
    position: absolute;
    left: 0;
    top: calc(-100% - 0.02in);
    width: 100%;
    text-align: center;
    color: white;
    font-size: 0.6rem; }

@media (min-width: 78rem) {
  [hide-xl] {
    display: none !important; } }

@media (min-width: 65rem) and (max-width: 78rem) {
  [hide-lg] {
    display: none !important; } }

@media (min-width: 41rem) and (max-width: 65rem) {
  [hide-md] {
    display: none !important; } }

@media (min-width: 36rem) and (max-width: 41rem) {
  [hide-sm] {
    display: none !important; } }

@media (max-width: 36rem) {
  [hide-xs] {
    display: none !important; } }

@media print {
  [web-only] {
    display: none; } }

[print-only] {
  display: none; }
  @media print {
    [print-only] {
      display: initial; } }

/*# sourceMappingURL=bundle.css.map */
