.btn {
  display:         block;
  text-decoration: none;
  border-radius:   5px;
  text-align:      center;
}



.btn--print {
  outline:       none;
  background:    none;
  padding:       0.1em 1em;
  border:        1px solid $neutral;
  border-radius: 1em;
  color:         $neutral;
  cursor:        pointer;

  &:active {
    color:            white;
    background-color: $neutral;
  }
}



.btn--github {
  top:        0.2in;
  right:      0.2in;
  padding:    0.1in;
  font-size:  1.5em;
  color:      $dark;
  border:     1px solid $dark;
  transition: all 0.25s ease;

  @media (max-width: $breakpoint-lg) {
    position: initial;
  }

  &:hover {
    background: linear-gradient(#999, #333);
    color:      white;
  }

  &:active {
    background: linear-gradient(#333, #999);
    color:      white;
    transition: all 0 ease;
  }
}



.btn--pair-with-me {
  padding: 2px;
  background-color: rgb(12,136,176);

  img {
    max-width: 100%;
  }
}



.btn--remote {
  top: 1in;

  @extend .btn--github;

  @media (max-width: $breakpoint-lg) {
    margin-bottom: 0.3in;
  }
}



.btn--for-hire {
  padding-left:   0.2in;
  padding-right:  0.2in;
  padding-bottom: 0.2in;
  padding-top:    0.15in;
  color:          white;
  line-height:    1.5;
  border:         2px solid transparent;
  transition:     all 0.25s ease;
  margin-bottom:  0.2in;
}

.btn--for-hire-yep {
  @include btn-for-hire-colors($positive);
}

.btn--for-hire-nope {
  @include btn-for-hire-colors($negative);
}

.btn--for-hire-maybe {
  @include btn-for-hire-colors($indifferent);
}
